name: Builds

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: https://npm.pkg.github.com/
          always-auth: true
          scope: "doptools"

      - name: Install
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
        run: yarn install

      - name: Run Help
        run: |
          chmod +x ./bin/run
          ./bin/run help
